In [38]:
import numpy as np

def swap(s, m, n):
  i, j = min(m, n), max(m, n)
  s1 = s.copy()
  while i < j:
      s1[i], s1[j] = s1[j], s1[i]
      i += 1
      j -= 1
  return s1

def TSP_SA(G):
   s = list(range(len(G)))
   c = cost(G, s)
   ntrial = 1
   T = 30
   alpha = 0.99
   while ntrial <= 1000:
      n = np.random.randint(0, len(G))
      while True:
         m = np.random.randint(0, len(G))
         if n != m:
            break
      s1 = swap(s, m, n)
      c1 = cost(G, s1)
      if c1 < c:
         s, c = s1, c1
      else:
         if np.random.rand() < np.exp(-(c1 - c)/T):
            s, c = s1, c1
      T = alpha*T
      ntrial += 1

   return s,c     

  
def cost(G, s):
   l = 0
   for i in range(len(s)-1):
      l += G[s[i]][s[i+1]]
   l += G[s[len(s)-1]][s[0]] 
   return l

from pandas import read_csv
dataset = read_csv('data.csv',';')
dataset.head(7)

,x1,x2,x3,x4,x5,x6
0,88.4,98.1,73.3,35.5,5.1,30.4
1,70.6,50.6,51.2,13.9,29.0,8.4
2,44.7,91.9,88.9,1.1,10.0,20.6
3,56.0,49.1,84.5,79.4,53.3,75.8
4,85.8,24.8,34.0,42.8,5.5,86.3
5,70.8,6.5,63.4,91.2,48.1,63.3

In [39]:
G=dataset.values
ss,cc=TSP_SA(G)
print(ss)
print(cc)

[2, 5, 1, 3, 0, 4]
136.1

In [40]:
G=dataset.values
ss,cc=TSP_SA(G)
print(ss)
print(cc)

[0, 4, 2, 5, 1, 3]
136.10000000000002

In [41]:
G=dataset.values
ss,cc=TSP_SA(G)
print(ss)
print(cc)

[0, 4, 2, 5, 1, 3]
136.10000000000002

Как и в муравьином алгоритме лучший результат- 136

In [42]:
dataset_simm = read_csv('data.csv',';')
dataset_simm.head(7)

,x1,x2,x3,x4,x5,x6
0,88.4,98.1,73.3,35.5,5.1,30.4
1,70.6,50.6,51.2,13.9,29.0,8.4
2,44.7,91.9,88.9,1.1,10.0,20.6
3,56.0,49.1,84.5,79.4,53.3,75.8
4,85.8,24.8,34.0,42.8,5.5,86.3
5,70.8,6.5,63.4,91.2,48.1,63.3

In [43]:
G_simm=dataset_simm.values
ss_simm,cc_simm=TSP_SA(G_simm)
print(ss_simm)
print(cc_simm)

[0, 4, 2, 5, 1, 3]
136.10000000000002